@{
    ViewBag.Title = "About wheel of fortune";
}
<h2>@ViewBag.Title.</h2>
<p>
    There are some rules and these are liable to change in the future:
    <ul>
        <li>An engineer can do at most one half day shift in a day.</li>
        <li>An engineer cannot have half day shifts on consecutive days.</li>
        <li>Each engineer should have completed one whole day of support in any 2 week period.</li>
    </ul>
    <address>
        <strong>Support:</strong>   <a href="mailto:kaatika@gmail.com">kaatika@gmail.com</a><br />
    </address>
</p>
